<!DOCTYPE html>
<html>
  <head>
    <title>OUTPOST，致力于成为1%的那一群人</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "common/navbar" %>
    <div class="container" style="margin-top: 70px;">
      <div class="container-fluid">
        <%= render "common/flashes" %>
        <div class="admin-panel">
          <%= render "admin/account/jobs/navbar" %>
          <div class="col-md-14">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>

    <%= render "common/footer" %>
  </div>
</body>

</html>
