<!DOCTYPE html>
<html>
  <head>
    <title>OUTPOST，致力于成为1%的那一群人</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'application', 'https://unpkg.com/element-ui/lib/theme-default/index.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="shortcut icon" href="/images/favicon.ico">
  </head>

  <body>
    <div>
      <% if !current_page?(root_path) %>
      <%= render "common/navbar" %>
      <%= render "common/flashes" %>
      <% end %>
      <%= yield %>
    </div>
    <div>
      <%= render "common/footer" %>
    </div>
  </body>

</html>
